* {
	margin:0;
	padding:0px;
}
body {
	background:#fff url(images/bg.gif) repeat-x;
	font-family:Verdana, Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#666;
}

#wrap {
	width:927px;
	margin:25px auto 25px auto;
}

#wrap #header #sitename {
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:58px;
	font-weight:normal;
	display:block;
	padding-top:140px;
	text-align:right;
	padding-right:50px;
}

#sitename a, #sitename a:visited, #sitename a:active{
	color:#fff;
	text-decoration:none;
}

#sitename a:hover{
	color:#000;
	text-decoration:none;
}

#header {
	background:url(images/header.jpg) no-repeat;
	height:341px;
}

#page {
	padding:0 10px 0 10px;
}

#page #menu {
	float:left;
	background:url(images/sidemenu.jpg) no-repeat;
	width:269px;
	height:382px;
}

#page #content {
	margin:0 0 0px 275px;
	padding:0 20px 0 5px;
}

.browsecat {
	float:left;
	width:30%;
	padding:5px 6px 8px 6px;
	margin-left:10px;
	border:solid 1px #F3ECBE;
	background:#FBFAF0;
}

#menu h2 {
	display:block;
	color:#666600;
	border-bottom:solid 1px #DFCD95;
	padding:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	font-weight:normal;
}

#wrap #page #menu #sidemenu {
	padding:65px 45px 0 40px;
	display:block;
}

#sidemenu ul {
	display:block;
	list-style:none;
}

#sidemenu li {
	display:block;
	height:26px;
	border-top:solid 1px #fff;
}

#sidemenu a{
	display:block;
	height:20px;
	padding:5px 5px 0 5px;
	color:#000;
	text-decoration:none;
	border-bottom:solid 1px #DFCD95;
}

#sidemenu a:visited{
	display:block;
	height:20px;
	padding:5px 5px 0 5px;
	color:#000;
	text-decoration:none;
	border-bottom:solid 1px #DFCD95;
	} 

#sidemenu a:active {
	background:#ffffcc;
}

#sidemenu a:hover{
	background:#ffffcc;
}

#footercontent {
	margin:5px;
	border-top:solid 1px #EBE6B4;
	padding-top:15px;
}

#footer {
	background:url(images/footer.jpg) repeat-x;
	height:105px;
	text-align:center;
}

#footer a, #footer a:visited, #footer a:active {
	color:#f93757;
	text-decoration:none;
}

#footer p {
	font-size:11px;
	padding:7px;
}

.textfield {
	display:block;
	float:left;
	width:65%;
	background-color:#F3F4E8;
	margin:3px 3px 3px 30px;
	padding:3px;
	border:1px solid #D6D9AE;
	clear:right;
}

label {
	display:block;
	float:left;
	text-align:right;
	font-weight:bold;
	width:20%;
	margin:3px;
	padding:5px;
}

.button {
	display:block;
	padding:0px;
	background-color:#E3E6C8;
	margin:3px;
	border:2px solid #efefef;
	color:#000;
}

.textfield:hover {
	background:#FBFCF8;
}

.textfield:focus {
	background:#fff;
}

#content .clear2 {
	clear:right;
	width:90%;
}

.hide {
	display:none;
}

#content table {
	margin:10px;
	width:500px;
	border:solid 1px #BDDB99;
}

#content th {
	background:#DFEDCD;
	padding:5px 15px 5px 15px;
	color:#999933;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #BDDB99;
}

#content td {
	border-bottom:1px solid #DFEDCD;
	padding:5px 15px 5px 15px;
	border-right:1px solid #DFEDC;
}
